.todo{
    width: 300px;
    height: auto;
    border: 1px solid white;
    margin: 0 auto;
    padding: 10px;
    transition: all 0.3s;
    
}

.todo:hover{
    box-shadow:  0 0 40px rgba(4, 179, 210, 0.737);
    transform: scale(1.1);
    /* filter: drop-shadow(4px 4px 4px rgba(0, 0, 255, 0.433)); */
}

.title h1{
    padding: 10px;
}

.desc h3{
    padding: 20px;
}


